.hide {
  display: none;
}

.border-blue {
  padding: 20px;
  border: solid rgb(121, 224, 238);
}

.circle-background {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
}
